/* #logo{ 
	position:fixed; 
	top:0; 
	left:0; 
} 

nav{
    display: inline;  
} */

/* nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin: 0;
    padding: 10px;
    display: inline;
  }

  nav li .button{
    background: #eeffff ;
    padding: 10px 15px;
    font-weight: bold;
    text-transform: uppercase;
  } */

  nav li,a,button{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
  }

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
  }

  .logo{
    cursor: pointer;
  }

  .nav_items{
    list-style: none;
  }

  .nav_items li{
    display:inline-block;
    padding:0px 20px;
  }

  .nav_items li a{
    transition: all 0.3s ease 0s;
  }

  .nav_items li a:hover{
    color: #0088a9;
  }

  button{
    padding: 9px 20px;
    background-color: rgba(0,135,169,1);
    border: none;
    border-radius:50px ;
    cursor: pointer;
    transition: all 0.3s ease 0s;

  }

  button:hover {
    background-color: rgba(0,135,169,0.8);
  }

  h2{
    padding-top: 5px;
    text-align: center;
  }

  #first, #about, #howitworks, #testimonial, #firstrow, #secondrow, .test{
    display: flex;
     /* flex-flow: row; */
    /* flex: 1 1; */ 
  }

  #firstsketch, #slogan, #aboutchildo, #aboutchildt, #hiwo, #hiwt{
    /* display: flex; */
    flex: 1;
    /* border: 2px; */
  }

  #slogan{
    text-align: center;
    padding: 140px;
  }

  #slogan p{
    font-size: xx-large;
  }

  #bigabout, #bigtest{
    background-color: #Afc2eb;
  }

  #aboutchildo{
    text-align: center;
    padding: 140px;
    font-size: large;
  }

  #hiwt{
    text-align: center;
    padding: 70px;
    font-size: large;
  }

  #firstrow img, #secondrow img{
    padding-left: 10px;
  }

  .descript{
    flex: 1 100%;
    padding: 10px;
  }

 
  
  /* , #about, #howitworks, #testimonial */

  /* body {
    background-color: #efefef;
  } */
  
  /* .profile-pic {
      max-width: 200px;
      max-height: 200px;
      display: block;
  }
   */
  .file-upload {
      display: none;
  }
  .circle {
      border-radius: 1000px !important;
      overflow: hidden;
      width: 128px;
      height: 128px;
      border: 8px solid rgba(81, 135, 206, 0.7);
      position: absolute;
      /* top: 72px; */
      text-align: center;
  }

  .defaultpfp{
      display: inline-block;
      color: gray;
      padding-top: 18%;
  }
  /* img {
      max-width: 100%;
      height: auto;
  } */
  .p-image {
    position: absolute;
    top: 230px;
    left: 130px;
    /* right: 30px; */
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  /* .upload-button {
    font-size: 1.2em;
  }
  
  .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
  } */

  #uploadpfp{
    top: 230px;
    left: 200px;
    position: absolute;
  }

  